/* PHONE */
@media only screen and (max-width: 480px){
html{
	background-color: white;
	
}
a{
	text-decoration: none;
	color: white;
	margin: 0px 0px 0px 5px;
}
.nonheader{
	color: black;
}
.headerhref{
	color: #71757a;
	margin: 14px 0px 28px 59px;
}
body{
	margin: 0;
}
hr{ 
	width:50%; 
	padding: 0;
}


#wrapper1{
	background:linear-gradient(white, #ffefd1);
	height: 1750px;
	margin: 0;
}
#wrapper2{
	background:linear-gradient(white, #ffefd1);
	height: 1750px;
	margin: 0;
}
.fade_meh{
	opacity: .5;
	margin-left: 45px;
	border-style: solid;
	border-color: #bc9d62;
	border-spacing: thin;
}
.hr1{
	width: 35%;
}
.hr2{
	width: 35%;
}
h1{

}
h3{
	margin-left: 20px;
}
.logo{
	margin-left: 46px;
}
.invisible{
	opacity: 0;
}
.header{
	background-color: #3d8396;
	/*position: absolute;*/
	/*z-index: -0;*/
	/*transform: skew(0, 0deg);*/
	/*display: inline-block;*/
	margin: 3px 0px 0px 6px;
	height: 35px;
	width: 379px;
	text-align: center;
	border-style: solid;
	border-spacing: thin;
	border-color: black;
}
.header2{
	background-color: #3d8396;
	/*position: absolute;*/
	/*z-index: -0;*/
	/*transform: skew(0, 0deg);*/
	/*display: inline-block;*/
	margin: 3px 0px 0px 6px;
	height: 35px;
	width: 379px;
	text-align: center;
	border-style: solid;
	border-spacing: thin;
	border-color: black;
}
.bar{
	padding: 5px;
	text-align: center;
}
.dditem1{
	list-style: none;
	padding-top: 3px;
	/*border-style: solid;
	border-color: black;
	border-width: thin;*/
}
.dditem2{
	list-style: none;
	padding-top: 3px;
}
.explore{
	margin-left: 109px;
}
.textonimage{
	position: absolute;
	top: 47%;
	left: 54%;
	transform: translate(-50%, -50%);
	font-size: 155%;
}
.textonimage2{
	position: absolute;
	top: 70%;
	left: 54%;
	transform: translate(-50%, -50%);
	font-size: 155%;
}
.teamblock{
	margin-left: 55px;
	text-align: left;
	margin-right: 10px;
}
.teamline{
	display: inline-block;
	box-shadow: inset 0 0 0 0 #0e99b9;

}
.movemeright{
	margin-left: 8px;
}
.login{
	text-align: center;
	margin-left: 30px;
}
.loginform{
	height: 30px;
	width: 260px;
	margin-left: 70px;
	margin-top: 5px;
	border-radius: 3px;
	border: solid 1px;
	border-color: lightgrey;
}
.loginsubmit{
	width: 165px;
	height: 80px;
	margin-left: 123px;
	margin-top: 5px;
}

/* --------END PHONE-------------*/
}
/* TABLET */
@media only screen and (min-width: 481px){
html{
	background-color: white;
}
a{
	text-decoration: none;
}
body{
	margin: 0;
}
img{
	width: 10%;
}
input{
	display: block;
	padding-top: 8px;
	margin-top: 8px;
	margin-left: 365px;
	border-radius: 3px;
	border: solid 1px;
	border-color: lightgrey;
	height: 20px;
	width: 180px;
	float: center;
	font-size: 100%;
	font-weight: lighter;
}
h1{
	margin-left: 35px;
}
h3{
	margin-left: 35px;
}
hr{
	width: 35%;
}
.loginsubmit{
	height: 35px;
	width: 184px;
}
#wrapper1{
	background:linear-gradient(white, #ffefd1);
	height: 1750px;
	margin: 0;
}
#wrapper2{
	background:linear-gradient(white, #ffefd1);
	height: 1750px;
	margin: 0;
}
.invisible{
	opacity: 0;
}
/* --------END TABLET-------------*/

}
/* DESKTOP */
@media only screen and (min-width: 1024px){
html{
	background-color: green;
}
img{
	width:10px;
}
/* --------END BROWSER-------------*/

}
body{
	background-color: white;
}
img{
	width: 300px;
	align-content: center;
}
a{
	margin-left: 25px;
}
.lbar{
	display: inline-block;
}
.rbar{
	display: inline-block;
}
.logo{
	display: inline-block;	
}
.headerr{
	float: right;
	vertical-align: top;
}