<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" href="{% static '/main/main.css' %}" media="screen" title="no title"  charset="utf-8">	
	<script 
		src="https://code.jquery.com/jquery-3.3.1.min.js"
	  	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  	crossorigin="anonymous">
	</script>
	<script type="text/javascript">
		$('teamblock').hide(0);
		$(document).ready(function(){
			$('teamblock').hide(0);
			// $('teamblock1').fadeIn(750);
		}); // END : document.ready
	</script>
	<title>Our Mission </title>
</head>
<body>
	<img class="logo" src="static/main/OEN_logo copy.png">
	
	<div class="headerhref">
		<a class="headerhref" href="/">H O M E</a>
		
		<a class="headerhref" href="index">L O G <span class="invisible">_</span>I N</a>
	</div>

	<div id="wrapper2">	
		<div class="teamblock">
			<h3><span class="invisible">___</span>Amplifying Community Voices</h3><h3><span class="invisible">_______</span>Fostering Civic Engagement</h3>
		</div>
		<hr>
		<div class="teamblock">
			<p><span class="invisible">____</span>Over the last few years, we have been developing a foundation for a potential nonprofit organization that will invigorate the way Tulsa and the greater Oklahoma community approaches civic engagement. We plan on changing the political atmosphere of Oklahoma through a comprehensive development strategy which includes fundraising, volunteerism, digital media, and partnerships with existing non-profits.</p>
			<p></p>
			<p><span class="invisible">____</span>While the social organizations in Oklahoma (The Equality Center, Oklahoma ACLU) may have similar agendas, they operate independently. This is where we come in. We are the bridge between organizations and their own independent communities, and by providing a single platform that facilitates people joining causes they want to support.</p>
		</div>
	</div> <!-- END : wrapper -->
</body>
</html>