<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" href="{% static '/main/main.css' %}" media="screen" title="no title"  charset="utf-8">	
	<script 
		src="https://code.jquery.com/jquery-3.3.1.min.js"
	  	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  	crossorigin="anonymous">
	</script>
	<script type="text/javascript">
		$('teamblock').hide(0);
		$(document).ready(function(){
			$('teamblock').hide(0);
			// $('teamblock1').fadeIn(750);
		}); // END : document.ready
	</script>
	<title>Our Team </title>
</head>
<body>
	<img class="logo" src="static/main/OEN_logo copy.png">
	
	<div class="headerhref">
		<a class="headerhref" href="/">H O M E</a>
		
		<a class="headerhref" href="index">L O G <span class="invisible">_</span>I N</a>
	</div>

	<div id="wrapper2">	
		<div class="teamblock">
			<h3>Jerrod Kennedy - Chairman</h3>
			<p>Jerrod is a Mental Health Technician who has lived in Tulsa all his life. After he was honorably discharged from Active Army service he returned home and began engaging in nonprofits across several sectors including gay rights, mental health, and the Shriner's Children's Hospitals. His main passions are reforming the lives of children in DHS custody who are struggling with mental illness, education, penal reform, and drug and alcohol recovery.</p>
		</div>
		<hr>
		<div class="teamblock">
			<h3>Alex DeLeon - Vice Chairman</h3>
			<p>Alex is a Retail Buying Manager for Whole Foods Market Amazon. He has worked in various educational and retail management programs developing marketing toward targeted demographics and implementatino of social events hile cultivating strong relationships in Tulsa and the surrounding areas. He is passionate about promoting educational reform, increasing the focus on STEAM programs, advocacy of progressive social movements and programs that benefit the underprivileged, and support for mental health program reform and education.</p>
		</div>
		
		<hr>  <!--          START : Caitlin       -->

		<div class="teamblock">
			<h3>Caitlin Ward - Treasurer</h3>
			<div class="teamline">
				<p class="movemeright">Caitlin is a Data and Program Analyst for Tulsa Educare, a head start funded by the George Kaiser Family Foundation and the federal Early Head Start and Head Start programs. She has worked in Early Childhood and Middle Years Special Education in the past, as well as in nonprofit auditing and compliance. She is passionate about education reformand advocates for quality education for all children regardlyess socioeconomic or geoegraphic origins.</p>
			</div>
			
		</div>

		<hr>  <!--          END : Caitlin          -->

		<div class="teamblock">
			<h3>David Waldschmidt - Secretary</h3>
			<div class="teamline">
			<p class="movemeright">David Waldschmidt is a Finance Major at OSU Tulsa, wit a focus on Risk Management. He has been working in the Financial Industry for over 10 years. For the past 3 years he has worked as an Office Administrator at Tulsa Federal Credit Union. He brings his knowledge of Board and committee Management to OEN.</p>
			</div>
		</div>
		<hr>
		<div class="teamblock">
			<h3>Arda Bulak - Program Director</h3>
			<div class="teamline">
				<p class="movemeright">Tulsa native, Arda Bulak, recently moved back from Tacoma, WA where he got his degree in Politics and Government. Since 2013, Arda has worked on numerous political campaigns on teh city, county, and congressional level and served as an aide at the Washington State Legislature. As a project manager, Arda now leads initiatives in market research, information systems, and business development for hils family's company, IMAX Worldwide Home. On the weekends, you might catch Arda playing electric bass with his band, Tulsa Funk Machine. He is passionate about civic engagement and excited to lend his diverse expertise to OEN. </p>
			</div>
		</div>
		
	</div> <!-- END : wrapper -->
</body>
</html>